# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Uploaded Videos
static/uploads/*

# Generated Output Videos
static/output/*

# Violation Images
static/violations/*

# Keep folders
!static/uploads/.gitkeep
!static/output/.gitkeep
!static/violations/.gitkeep

# Database
*.db

# Model training runs
runs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db